$header-height: 75px;
$footer-height: 100px;

.header {
	height: $header-height;
	background-color: rgb(var(--tertiary-color));
}

.nav {
	height: 100%;
	padding: 0 25px;

	&,
	ul {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	ul {
		overflow-x: auto;
	}
}

.elements {
	text-align: center;
}

.element {
	display: inline-block;

	+ .element {
		margin-left: 25px;
	}

	a {
		color: rgb(var(--contrast-color));
		font-size: 18px;
		font-weight: lighter;
		white-space: pre;
		text-decoration: none;
		transition: color ease 250ms;

		&:global(.active),
		&:hover {
			color: rgb(var(--highlight-color));
		}

		&:global(.active) {
			cursor: default;
		}
	}
}

.content {
	height: calc(100vh - #{$header-height + $footer-height});
	padding: 25px;
	overflow-y: auto;
}

.footer {
	height: $footer-height;
	border-top: 1px solid rgb(var(--secondary-color));
	display: flex;
	justify-content: center;
	align-items: center;

	a {
		text-decoration: none;
		transition: transform ease 250ms;

		&:hover {
			transform: scale(1.5) rotate(-15deg);
		}

		&:hover {
			svg path {
				fill: rgb(var(--highlight-color));
			}
		}

		svg {
			height: 25px;

			path {
				fill: rgb(var(--contrast-color));
				transition: fill ease 250ms;
			}
		}
	}
}
